In [1]:
print("0820")

0820

In [2]:
a=range(5)

In [3]:
print(list(a))

[0, 1, 2, 3, 4]

In [4]:
b=range(1,5)

In [5]:
print(list(b))

[1, 2, 3, 4]

In [6]:
c=range(1,9,2)

In [7]:
print(list(c))

[1, 3, 5, 7]

In [8]:
print(c)

range(1, 9, 2)

In [16]:
d=range(10,1,2)

In [17]:
print(list(d))

[]

In [18]:
list1=[1,2,3,4,5]

In [19]:
print(list1)

[1, 2, 3, 4, 5]

In [21]:
list2=['香蕉','蘋果','橘子']

In [22]:
print(list2)

['香蕉', '蘋果', '橘子']

In [25]:
list3=[1,'香蕉',True]

In [27]:
print(list3)

[1, '香蕉', True]

In [28]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [29]:
print(list5[1])

['mary', 'abcd']

In [30]:
print(list5[0])

[['tom', '1234']]

In [31]:
print(list5[1][1])

abcd

In [32]:
print(list5[0])

[['tom', '1234']]

In [33]:
print(list5[0][0])

['tom', '1234']

In [34]:
print(list5[0][0])

['tom', '1234']

In [38]:
list6=[["國文成績=85分"]],["數學成績=79分"],["英文成績=93分"]

In [40]:
print(list6[0])

[['國文成績=85分']]

In [42]:
list7=["香蕉","蘋果","橘子"]
for s in list7:
    print(s,end=",")

香蕉,蘋果,橘子,

In [45]:
scores=[85,79,93]

In [46]:
print(len(scores))

3

In [47]:
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [ ]:
15 30 32

In [63]:
list=["apple","banana","cake"]
for s in range(len(list)):
    print(s,end=" ")

0 1 2

In [4]:
#15
input_str = input("'")
string_list = input_str.split()
reversed_list = string_list[::-1]
print("" .join(reversed_list),end" ")

SyntaxError: invalid syntax (552944383.py, line 5)

In [5]:
input_str = input()
string_list = input_str.split()
reversed_list = [s[::-1] for s in string_list]
print(" ".join(reversed_list))

03 06 09 021 051

In [6]:
#15
input_str = input()
string_list = input_str.split()
reversed_list = string_list[::-1]
print(" ".join(reversed_list))

150 120 90 60 30

In [8]:
#30
input_str = input("請輸入range的三個參數（起始值、終止值、間隔值），以空格分隔：")
start, end, step = map(int, input_str.split())
number_list = [str(i) for i in range(start, end, step)]
output_str = ",".join(number_list)
print(output_str)

10,35,60,85,110,135,160,185,210,235,260,285,310,335,360,385,410,435,460,485

In [10]:
#32
input_str = input("請輸入range的三個參數（起始值、終止值、間隔值），以空格分隔：")
start, end, step = map(int, input_str.split())
number_list = list(range(start, end, step))
print(number_list)

[8, 7, 6, 5, 4]